@import url('https://fonts.googleapis.com/css?family=Gaegu');

body, html {
height: 100%;
margin: 0;
}

h1, h2, h3, h4, h5, h6, p, div, span, webtitle, input, ul, li {
font-family: 'Gaegu', sans-serif;
}

h1 {
font-size:100px;
}

h2 {
font-size:60px;
}

h3 {
font-size: 35px;
}

h4 {
font-size: 30px;
}

p, ul {
font-size:25px;
}

.fnitepic {
background-image: url("./fn.png");
height: 260px;
width: 260px;
background-repeat: no-repeat fixed;
background-size: cover;
background-position: center;
}

.webpic {
background-image: url("./Images/webfavicon.png");
height: 200px;
width: 189px;
background-repeat: no-repeat fixed;
background-size: cover;
background-position: center;
}

.centereverything {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input[type = checkbox] {
width: 20px;
height: 20px;
}